<!DOCTYPE html>
<html>
    <meta http-equiv="refresh" content="0;URL=https://medium.com/treviso-js">

    {% include head.html %}


    <body>
        {% include header.html %}
        <article class="hero">
            <div class="wrapper">
                <div class="hero-background">
                    <div class="hero-description">
                        <a href="http://www.meetup.com/it/Treviso-JS-Meetup/events/225585263/" target="_blank">
                            <h1>Treviso JS</h1>
                            <h2>Next meetup: 30 settembre 2015</h2>
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <div class="page-content">
            <div class="wrapper">
                {{ content }}
            </div>
        </div>
        {% include footer.html %}
    </body>

    <script type="text/javascript">
    WebFontConfig = {
    google: { families: [ 'Fira+Sans:400,700,300,500:latin' ] }
    };
    (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
    '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
    })(); </script>

</html>
