<!DOCTYPE html>
<html>
   <head>
      <!-- <meta http-equiv="refresh" content="0;URL=https://medium.com/treviso-js"> -->
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Treviso JS — JavaScript e Prosecco a Treviso</title>
      <link rel="canonical" href="https://medium.com/treviso-js">
      <meta name="title" content="Treviso JS">
      <meta name="referrer" content="always">
      <meta name="description" content="JavaScript e Prosecco a Treviso">
      <meta name="keywords" content="JAVASCRIPT, WEB DEVELOPMENT, FRONTEND">
      <meta property="og:site_name" content="Treviso JS">
      <meta property="og:title" content="Treviso JS">
      <meta property="og:url" content="http://treviso.js.org">
      <meta property="og:image" content="https://cdn-images-1.medium.com/max/1600/1*uIyq5-wPVYTINclkAkJb0Q.png">
      <meta property="fb:app_id" content="542599432471018">
      <meta property="og:description" content="JavaScript e Prosecco a Treviso">
      <meta name="twitter:site" content="@Medium">
      <meta name="twitter:image:src" content="https://cdn-images-1.medium.com/max/1600/1*uIyq5-wPVYTINclkAkJb0Q.png">
      <link rel="publisher" href="https://plus.google.com/103654360130207659246">
      <meta property="og:type" content="medium-com:collection">
      <meta name="twitter:card" content="summary_large_image">
      <meta property="medium-com:creator" content="https://medium.com/@nicholasruggeri">
      <meta name="twitter:creator" content="@nicksruggeri">
      <meta name="twitter:app:name:iphone" content="Medium">
      <meta name="twitter:app:id:iphone" content="828256236">
      <meta name="twitter:app:url:iphone" content="medium:/treviso-js">
      <meta property="al:ios:app_name" content="Medium">
      <meta property="al:ios:app_store_id" content="828256236">
      <meta property="al:android:package" content="com.medium.reader">
      <meta property="al:android:app_name" content="Medium">
      <meta property="al:ios:url" content="medium:/treviso-js">
      <meta property="al:android:url" content="medium://treviso-js">
      <meta property="al:web:url" content="https://medium.com/treviso-js">
      <link rel="alternate" href="android-app://com.medium.reader/https/medium.com/treviso-js" />
      <meta name="theme-color" content="#000000">
      <link rel="stylesheet" href="https://cdn-static-1.medium.com/_/fp/css/fonts-base.LqXl5T9RMAR39Ge23ku50w.css" />
      <link rel="stylesheet" href="https://cdn-static-1.medium.com/_/fp/css/main-base.W76fEKaGNnMRa61LmStgSA.css">
      <link rel="shortcut icon" href="https://cdn-static-1.medium.com/_/fp/icons/favicon-new.TAS6uQ-Y7kcKgi0xjcYHXw.ico">
      <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-ipad-retina.png">
      <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-iphone-retina.png">
      <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-ipad.png">
      <link rel="apple-touch-icon" href="/apple-touch-icon.png">
      <link rel="mask-icon" href="/favicon.svg" color="#171717">
   </head>
   <body itemscope itemtype="http://schema.org/Article" class="  browser-chrome os-mac is-withMagicUnderlines is-noJs">
      <script>document.body.className = document.body.className.replace(/(^|\s)is-noJs(\s|$)/, "$1is-js$2")</script>
      <div class="site-main" id="container">
         <div class="surface">
            <div id="prerendered" class="screenContent">
               <header class="u-size1040 container">
                  <div class="row">
                     <div class="col u-xs-size12of12">
                        <div class="hero hero--collection2">
                           <a class="link"  href="https://medium.com/treviso-js">
                           <img class="hero-logo" src="https://cdn-images-1.medium.com/max/2000/1*uIyq5-wPVYTINclkAkJb0Q.png" alt="Treviso JS" />
                           </a>
                           <h1 class="hero-title">Treviso JS</h1>
                           <h2 class="hero-description">JavaScript e Prosecco a Treviso</h2>
                        </div>
                     </div>
                  </div>
               </header>
               <div class="listingSectionGroup">
                  <div class="container u-size1040 listingSection is-latest listingSection--gridTextOverImageWithMargin">
                     <div class="row u-flexCenter u-xs-top30 u-sm-bottom10 listingSection-header">
                        <div class="col u-xs-size12of12">
                           <div class="heading u-clearfix heading--borderedBottom heading--allCaps heading--light">
                              <div class="u-clearfix">
                                 <div class="heading-content u-floatLeft"><strong class="heading-title heading-title--dark heading-title--lineHeightTight"><a class="link link--darken" href="https://medium.com/treviso-js/latest">latest</a></strong></div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row listingSection-body u-xs-top30">
                        <div class="col u-xs-size12of12">
                           <div class="blockGroup blockGroup--posts js-blockGroupPosts blockGroup--inset blockGroup--cardWithFullBleedImage blockGroup--card blockGroup--latest" data-block-focus="on" data-count="2" data-source="latest" data-display="grid" data-image="full-bleed" data-margin="inset">
                              <div class="blockGroup-list layoutSingleColumn layoutSingleColumn--wide">
                                 <div class="blockGroup-row blockGroup-row--withImageAndWithoutImage">
                                    <div class="block block--inset block--cardWithFullBleedImage block--card js-block js-trackedPost postItem js-postItem" data-post-id="7829775242b4" data-source="latest---------1" data-scroll="native">
                                       <a href="https://medium.com/treviso-js/how-to-gulp-7829775242b4?source=latest---------1" data-action="open-post" data-action-value="https://medium.com/treviso-js/how-to-gulp-7829775242b4?source=latest---------1" class="block-image" style="background-color: #EFEFEF" data-action-index="1"><span class="u-textScreenReader">How to Gulp</span></a>
                                       <div class="block-firefoxPositioningContainerHack">
                                          <div class="block-content block-with-metadata">
                                          </div>
                                       </div>
                                    </div>
                                    <div class="block block--inset block--cardWithFullBleedImage block--card js-block js-trackedPost postItem js-postItem" data-post-id="7829775242b4" data-source="latest---------1" data-scroll="native">
                                       <a href="https://medium.com/treviso-js/how-to-gulp-7829775242b4?source=latest---------1" data-action="open-post" data-action-value="https://medium.com/treviso-js/how-to-gulp-7829775242b4?source=latest---------1" class="block-image" style="background-color: #EFEFEF" data-action-index="1"><span class="u-textScreenReader">How to Gulp</span></a>
                                       <div class="block-firefoxPositioningContainerHack">
                                          <div class="block-content block-with-metadata">
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>
